<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-success border-bottom shadow-sm">
   
    <h5 href="/" class="my-0 mr-md-auto font-weight-normal mx-5">
        <app-header></app-header>   
    </h5>
  
    <nav class="flex-md-col">
      <a class="p-2 text-dark" href="#">Features</a>
      <a class="p-2 text-dark" href="#">Premium</a>
      <a class="p-2 text-dark" href="#">Suporte</a>
      <a class="p-2 text-dark" href="#">Preços</a>
    </nav>
    <div class="col" style="text-align: right">
      <a class="btn btn-dark " href="#" >Cadastro</a>
    </div>
    
</div>
